{% extends "base_generic.html" %}

{% block content %}
    <h2>.fml finance .calendar . {{MonthName}} . {{Year}}</h2>

    <table width="97%">
      <tr>
        <td width="30%" align="left">
          &lt;&lt; <a href="{% url 'calendarNav' PreviousYear PreviousMonth%}">{{PreviousMonthName}} {{PreviousYear}}</a>
        </td>
        <td width="30%" align="center"><a href="{% url 'calendar' %}"">{{MonthName}} {{Year}}</a></td>
        <td width="30%" align="right">
          <a href="{% url 'calendarNav' NextYear NextMonth%}">{{NextMonthName}} {{NextYear}}</a> &gt;&gt;
        </td>
      </tr>
    </table>
    
    <div id="calendar">
      {{fmlCalendar}}
    </div>

{% endblock %}
